{% extends "base.html" %}
{% load static %}

{% block page_header %}
<!-- Page Header -->
<div class="container header-container">
    <div class="row">
        <div class="col"></div>
    </div>
</div>
{% endblock %}

{% block content %}
<div class="overlay"></div>
<div class="container-fluid">
    <!-- Blog Post Title -->
    <div class="row">
        <div class="col-12 col-md-6 col-lg-4 offset-lg-2">
            <h3 class="d-block d-md-none text-white small-text-shadow-black display-product">{{ post.title }}</h3>
            <!-- Blog image display -->
            <div class="image-container my-5 card-background-color card-border">
                {% if post.image_url %}
                <a href="{{ post.image_url }}" target="_blank">
                    <img class="card-img-top img-fluid" src="{{ post.image_url }}" alt="{{ post.title }}">
                </a>
                {% else %}
                {% if post.image %}
                <a href="{{ post.image.url }}" target="_blank">
                    <img class="card-img-top img-fluid" src="{{ post.image.url }}" alt="{{ post.title }}">
                </a>
                {% else %}
                <a href="{{ MEDIA_URL }}noimage.png">
                    <img class="card-img-top img-fluid" src="{{ MEDIA_URL }}noimage.png" alt="{{ post.title }}">
                </a>
                {% endif %}
                {% endif %}
            </div>
        </div>
        <div class="col-12 col-md-6 col-lg-4">
            <div class="product-details-container mb-5 mt-md-5 card-background-color card-border">
                <!-- Alternate display name if admin account is being used by more than 1 person -->
                {% if post.alternate_submit_name %}
                <p class="mb-0 text-white small-text-shadow-black text-padding-left-right text-padding-top">Submitted
                    by: {{ post.alternate_submit_name }} on {{ post.date }}</p>
                {% else %}
                <p class="mb-0 text-white small-text-shadow-black text-padding-left-right text-padding-top">Submitted
                    by: {{ post.author.first_name }} on {{ post.date }}</p>
                {% endif %}
                <!-- Blog Post Title -->
                <p
                    class="lead mb-0 text-left font-weight-bold text-white small-text-shadow-black text-padding-left-right mobile-padding-top">
                    {{ post.title }}</p>
                <!-- Blog Post Body -->
                <p class="mt-3 text-white small-text-shadow-black text-padding-left-right text-padding-bottom">
                    {{ post.body }}</p>
                <!-- Blog Post Contact Email -->
                <p
                    class="mb-0 text-white small-text-shadow-black text-padding-left-right text-padding-top text-padding-bottom">
                    <!-- mailto auto populated email link -->
                    <a class="email-text"
                        href="mailto:{{ post.email }}?subject={{ post.title }}&body=Please send me more information about the {{ post.title }}."><strong>{{ post.email }}</strong></a>
                </p>
                {% csrf_token %}
                <!-- Edit & Delete links if SUperuser -->
                {% if request.user.is_superuser %}
                <small class="ml-3 edit-delete">
                    <a href="{% url 'edit_blog' post.id %}"><span class="text-white blog-text-size"> | </span><strong
                            class="blog-text-size">Edit</strong><span class="text-white blog-text-size"> | </span></a>
                    <a class="text-danger modal-trigger blog-text-size" data-toggle="modal"
                        data-target="#blog{{ post.id }}"><strong>Delete</strong><span class="text-white blog-text-size">
                            | </span></a>
                </small>
                <!-- Blog Deletion Modal Structure Start -->
                <div class="modal fade" id="blog{{ post.id }}" role="dialog">
                    <div class="modal-dialog">
                        <!-- Blog Deletion Modal Content -->
                        <div class="modal-content">
                            <div class="modal-header">
                                <h4 class="modal-title">Blog Deletion</h4>
                                <button type="button" class="close" data-dismiss="modal">&times;</button>
                            </div>
                            <div class="modal-body">
                                <p>Are you sure you want to delete the blog "<strong>{{ post.title }}</strong>"?</p>
                            </div>
                            <div class="modal-footer">
                                <a href="{% url 'delete_blog' post.id %}" class="btn btn-danger">DELETE</a>
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">CANCEL</button>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Blog Deletion Modal Structure End -->
                {% endif %}
                <div class="col-12 text-padding-bottom">
                    <a href="{% url 'blog' %}" class="btn btn-teal rounded-1 mt-5">
                        <span class="icon">
                            <i class="fas fa-chevron-left small-text-shadow-black"></i>
                        </span>
                        <span class="text-uppercase small-text-shadow-black">Back to Blogs</span>
                    </a>
                </div>
                <!-- Admin/User Comments -->
                <div>
                    <span class="text-white small-text-shadow-black text-padding-left text-padding-top">Comment Count:
                        {{ comments.count }}</span>
                </div>
                <!-- Logic to determine if comment is from admin or user -->
                <!-- Differing css applied if either option is present -->
                {% for comment in comments %}
                {% ifequal comment.author post.author %}
                <div class="row admin-padding">
                    <div class="col-12">
                        <div class="card card-admin">
                            <div class="card-header card-admin-bottom-border card-admin-text">
                                <p class="text-uppercase"><i
                                        class="fas fa-user-shield pr-1"></i>{{ comment.author }}<span
                                        class="text-white text-padding-right float-right">{{ comment.created_on }}</span>
                                </p>
                            </div>
                            <div class="card-body text-white">
                                <div class="">{{ comment.comments | linebreaks }}</div>
                                {% if request.user.is_superuser %}
                                <a class="text-danger modal-trigger blog-text-size" data-toggle="modal"
                                    data-target="#comment{{ comment.id }}"><span class="text-white blog-text-size"> |
                                    </span><strong>Delete</strong><span class="text-white blog-text-size">
                                        | </span></a>
                                <!-- Comments Deletion Modal 1 Structure Start -->
                                <div class="modal fade" id="comment{{ comment.id }}" role="dialog">
                                    <div class="modal-dialog">
                                        <!-- Comments Deletion Modal 1 Content -->
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h4 class="modal-title modal-inner-text-color">Comment Deletion</h4>
                                                <button type="button" class="close"
                                                    data-dismiss="modal">&times;</button>
                                            </div>
                                            <div class="modal-body modal-inner-text-color">
                                                <p>Are you sure you want to delete the comment by user
                                                    "<strong>{{ comment.author }}</strong>"?</p>
                                            </div>
                                            <div class="modal-footer">
                                                <a href="{% url 'delete_comment' comment.id %}"
                                                    class="btn btn-danger">DELETE</a>
                                                <button type="button" class="btn btn-secondary"
                                                    data-dismiss="modal">CANCEL</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- Comments Deletion Modal 1 Structure End -->
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
                {% else %}
                <div class="row user-padding">
                    <div class="col-12">
                        <div class="card card-user">
                            <div class="card-header card-user-bottom-border card-user-text">
                                <p class="text-uppercase"><i class="fas fa-user pr-1"></i>{{ comment.author }}<span
                                        class="text-white text-padding-right float-right">{{ comment.created_on }}</span>
                                </p>
                            </div>
                            <div class="card-body text-white">
                                <div class="">{{ comment.comments | linebreaks }}</div>
                                {% if request.user.is_superuser %}
                                <a class="text-danger modal-trigger blog-text-size" data-toggle="modal"
                                    data-target="#comment{{ comment.id }}"><span class="text-white blog-text-size"> |
                                    </span><strong>Delete</strong><span class="text-white blog-text-size">
                                        | </span></a>
                                <!-- Comments Deletion Modal 2 Structure Start -->
                                <div class="modal fade" id="comment{{ comment.id }}" role="dialog">
                                    <div class="modal-dialog">
                                        <!-- Comments Deletion 2 Modal Content -->
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h4 class="modal-title modal-inner-text-color">Comment Deletion</h4>
                                                <button type="button" class="close"
                                                    data-dismiss="modal">&times;</button>
                                            </div>
                                            <div class="modal-body modal-inner-text-color">
                                                <p>Are you sure you want to delete the comment by user
                                                    "<strong>{{ comment.author }}</strong>"?</p>
                                            </div>
                                            <div class="modal-footer">
                                                <a href="{% url 'delete_comment' comment.id %}"
                                                    class="btn btn-danger">DELETE</a>
                                                <button type="button" class="btn btn-secondary"
                                                    data-dismiss="modal">CANCEL</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- Comments Deletion Modal 2 Structure End -->
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
                {% endifequal %}
                {% endfor %}
                <!-- Request login or signup if not a user -->
                {% if request.user.is_anonymous %}
                <p class="free-delivery-color small-text-shadow-black text-padding-left text-padding-top">Please<a
                        class="text-info" href="{% url 'account_login' %}"> Login </a> or
                    <a class="text-info" href="{% url 'account_signup' %}">Signup</a>
                    to leave a comment. Thank you.</p>
                {% else %}
                <!-- Comment Form -->
                <form class="all-padding comment-form-class" id="comment-form" method="POST" action="">
                    {% csrf_token %}
                    {{ comment_form|crispy }}
                    <button class="btn btn-teal" type="submit">Submit</button>
                </form>
                {% endif %}
            </div>
        </div>
    </div>
</div>
<!-- Scroll to top button -->
<div class="btt-button shadow-sm d-none scroll-border-color">
    <a class="btt-link d-flex h-100">
        <i class="fas fa-arrow-up scroll-arrow mx-auto my-auto"></i>
    </a>
</div>
{% endblock %}

{% block postloadjs %}
{{ block.super }}
<!-- Scroll to top behaviour -->
<script type="text/javascript">
    $('.btt-link').click(function (e) {
        window.scrollTo({
            top: 0,
            behavior: 'smooth'
        })
    })

    $(window).scroll(function () {
        if ($(this).scrollTop() >= 100) {
            $('.btt-button').removeClass('d-none');
        } else {
            $('.btt-button').addClass('d-none');
        }
    });
</script>
{% endblock %}