<!-- Bag total, Delivery and delivery info text include -->
<h6><strong><span class="text-padding-right">Bag Total: €{{ total|floatformat:2 }}</span></strong></h6>
<h6><span class="text-padding-right">Delivery: €{{ delivery|floatformat:2 }}</span></h6>
<h4 class="mt-4"><strong><span class="text-padding-right">Grand Total: €{{ grand_total|floatformat:2 }}</span></strong></h4>
{% if free_delivery_delta > 0 %}
    <p class="mb-1 text-danger text-padding-right">
        You could get free delivery by spending just <strong>€{{ free_delivery_delta }}</strong> more!
    </p>
{% endif %}