<!-- Bag checkout buttons, "Checkout" & "Keep Shopping" include -->
<a href="{% url 'products' %}" class="btn btn-outline-teal rounded-1 btn-lg">
    <span class="icon">
        <i class="fas fa-chevron-left small-text-shadow-black"></i>
    </span>
    <span class="text-uppercase small-text-shadow-black">Keep Shopping</span>
</a>
<a href="{% url 'checkout' %}" class="btn btn-teal rounded-1 btn-lg">
    <span class="text-uppercase small-text-shadow-black">Secure Checkout</span>
    <span class="icon">
        <i class="fas fa-lock small-text-shadow-black"></i>
    </span>
</a>