<div class="collapse navbar-collapse text-shadow-green-muted menu-items-font" id="main-nav">
    <ul class="navbar-nav w-auto mx-auto">
        <li class="nav-item d-block d-md-none">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="{% url 'home' %}" id="home-link">
               | Home |
            </a>
        </li>
        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="all-products-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                | All Products |
            </a>
            <div class="dropdown-menu border-0 text-shadow-green-muted-2" aria-labelledby="all-products-link">
                <a href="{% url 'products' %}?sort=price&direction=asc" class="dropdown-item">By Price</a>
                <a href="{% url 'products' %}?sort=rating&direction=desc" class="dropdown-item ">By Rating</a>
                <a href="{% url 'products' %}?sort=category&direction=asc" class="dropdown-item ">By Category</a>
                <a href="{% url 'products' %}" class="dropdown-item">All Products</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="clothing-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                | Clothing |
            </a>
            <div class="dropdown-menu border-0 text-shadow-green-muted-2" aria-labelledby="clothing-link">
                <a href="{% url 'products' %}?category=clothing,mens_activewear" class="dropdown-item">Mens Activewear</a>
                <a href="{% url 'products' %}?category=clothing,ladies_wear" class="dropdown-item">Ladies Activewear</a>
                <a href="{% url 'products' %}?category=clothing,trainers" class="dropdown-item">Trainers</a>
                <a href="{% url 'products' %}?category=clothing,mens_activewear,ladies_wear,trainers" class="dropdown-item">All Clothing</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="membership-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                | Gym |
            </a>
            <div class="dropdown-menu border-0 text-shadow-green-muted-2" aria-labelledby="membership-link">
                <a href="{% url 'products' %}?category=gym,gym_membership" class="dropdown-item">Gym Membership Plans</a>
                <a href="{% url 'products' %}?category=gym,meal_plans" class="dropdown-item">Meal Plans</a>
                <a href="{% url 'products' %}?category=gym,sfc_protein" class="dropdown-item">SFC Protein</a>
                <a href="{% url 'products' %}?category=gym,gym_membership,meal_plans,sfc_protein" class="dropdown-item">All Gym</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black" href="#" id="specials-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                | Special Offers |
            </a>
            <div class="dropdown-menu border-0 text-shadow-green-muted-2" aria-labelledby="specials-link">
                <a href="{% url 'products' %}?category=special_offer,2_for_1" class="dropdown-item">2 for 1 Items</a>
                <a href="{% url 'products' %}?category=special_offer,clearance" class="dropdown-item">Clearance</a>
                <a href="{% url 'products' %}?category=special_offer,2_for_1,clearance" class="dropdown-item">All Specials</a>
            </div>
        </li>
    </ul>
</div>